.slider {
	width: 600px;
	height: 400px;
	overflow: hidden;
}

.slider > img {
	float: left;
	display: none;
	position: absolute;
}

.slider img:first-child {
	display: inline;
}

.pager a {
	margin-left: 5px;
	padding: 3px;
	text-decoration: none;
	display: inline-block;
	width: 14px;
	height: 14px;
	text-align: center;
	color: #000;
	font-size: 11px;
}

.pagerNormal {
	background-color: #F90;
	cursor: pointer;
}

.pager a:hover {
	background-color: #09C;
}

.pagerSelected {
	background-color: #09C;
	cursor: default;
}